[Unit]
Description=Cloudflare DDNS

[Service]
Type=oneshot
EnvironmentFile=-/etc/cloudflare-ddns
ExecStart=/usr/bin/env cloudflare-ddns
DynamicUser=true
