[Unit]
Description=Cloudflare DDNS
After=network.target network-online.target
Requires=network-online.target

[Timer]
OnCalendar=*:0/5
Unit=cloudflare-ddns.service

[Install]
WantedBy=timers.target
