[Unit]
Description=Cloudflare DDNS
After=network-online.target
Wants=network-online.target

[Timer]
OnCalendar=*:0/2
Unit=cloudflare-ddns.service

[Install]
WantedBy=timers.target
